﻿.GridHeaderBC {
    font-family: Verdana,arial;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    border-collapse: collapse;
    background-color: #006bc2;
    color: #ffffff;
    border-color: #C0C0C0;
}
.txtRO {
    background-color: #C8C8C8 !important;
}
.btn-primary {
    color: #ffffff;
    background-color: #006bc2; /*#428bca;*/
    border-color: #006bc2; /*#428bca;*/
}
.GridAlterItemR {
    font-family: Verdana,arial;
    font-weight: normal;
    font-size: 11px;
    text-align: right;
    border-collapse: collapse;
    background-color: #F1F1F1;
    color: #000000;
}
.GridItem {
    font-family: Verdana,arial;
    font-weight: normal;
    font-size: 11px;
    text-align: left;
    border-collapse: collapse;
    background-color: #E0E0E0; 
    color: #000000;
}
/*.box {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
}
.content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.form-group {
    margin-right: 10px;
}*/